#hero {
    height: 80vh;
    background-color: #001327;
    background-size: cover;
    background-position: center;
    color: rgb(229 38 38);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

