<!-- index.html -->

{% extends 'msestocks/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Stats265</h1>
    <p class="lead">Stats265 is your go-to platform for accessing a wide range of statistical data for comprehensive and up-to-date information on various aspects of Malawi.
        .</p>
    <hr class="my-4">
    <p>Explore the latest stock prices and stay informed.</p>
</div>

<div class="container mt-5">
    <h1 class="mb-4">Stock List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Open Price</th>
                <th>Close Price</th>
                <th>Percent Change</th>
                <th>Volume</th>
                <th>Turnover</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td><a href="{% url 'msestocks:stock-detail' stock.id %}">{{ stock.symbol }}</a></td>
                <td>{{ stock.current_open_price|floatformat:2 }}</td>
                <td>{{ stock.current_close_price|floatformat:2 }}</td>
                <td>{{ stock.percent_change }}</td>
                <td>{{ stock.current_volume }}</td>
                <td>{{ stock.current_turnover }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



</div>

{% endblock %}
